*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: #55a0dd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section{
    height: 500px;
    width: 700px;
    background: #fff;
    border-radius: 10px;
}
.col{
    width: 100%;
    /* height: 200px; */
    border-radius: 4px;
    box-shadow: #00000056 0px 5px 15px;
    padding: 10px;
    background: #fff;
}

.box{
    display: inline-block;
    padding: 0px 5px;
}

.first{
    border-right: 2px solid #40576d33;
}

input[type=number]{
    outline: none;
    border: none;
    width: 50px;
    font-size: 24px;
    padding: 10px 0px;
    margin-left: 10px;
}
.second{
    border-right: 2px solid #40576d33;
}
button{
    border: none;
    color: #131c35;
    font-size: 20px;
    padding: 10px 16px;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}
button:hover{
    background: #40576d1a;
}
button:focus{
    background: #73b1e333;
    color: #5271ff;
}

.third{
    border-right: 2px solid #40576d33;
}
